// app global css in SCSS form
.text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-shadow {
  &:hover {
    box-shadow: 1px 4px 10px #333333;
    -webkit-transition: box-shadow .1s ease-in;
  }
}

.q-page, .q-layout {
  min-height: 767px !important;
}
